---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Footer from '../components/Footer.astro';
import CookieConsent from '../components/CookieConsent.astro';
import TopBanner from '../components/TopBanner.astro';

const pageTitle = 'Reignite: Digital Agency for Clarity, Momentum, and Results';
const pageDesc =
  'Get Clarity, Momentum, and Results. We deliver product strategy, UX design, and acceleration  by embedding in your team. No buzzwords. Real progress.';
---
<BaseLayout title={pageTitle} description={pageDesc}>
    <TopBanner
    eyebrow="New Offer"
    title="Fancy 50% off?"
    body="If your business is within 5 miles of Ilkley, West Yorkshire, you could get 50% off one project."
    ctaLabel="View the offer"
    buttonClass="normal-case"
    ctaVariant="secondary"
    ctaHref="/local-offer"
  />
  <Header />
  <main>
    <Hero />
  </main>
  <Footer />
  <CookieConsent />
</BaseLayout>
