---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import BelowFold from '../components/BelowFold.astro';
import Footer from '../components/Footer.astro';
import CookieConsent from '../components/CookieConsent.astro';

const pageTitle = 'Reignite: Digital Agency for Clarity, Momentum, and Results';
const pageDesc =
  'Get Clarity, Momentum, and Results. We deliver product strategy, UX design, and acceleration  by embedding in your team. No buzzwords. Real progress.';
---
<BaseLayout title={pageTitle} description={pageDesc}>
  <Header />
  <main>
    <Hero />
  </main>
  <Footer />
  <CookieConsent />
</BaseLayout>
